
        <div class="o-section o-section--padding">
            <div class="c-favslider anim anim--up">                
                <header class="o-header">
                    <h2 class="o-lead o-lead--2">Nos coups de coeur</h2>
                    <h3 class="o-lead o-lead--5">Nos programmes à ne pas manquer</h3>
                </header>


                <div class="main-carousel" id="fav">
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="carousel-cell">
                        <figure class="o-box">
                            <img src=<%= require("./img/photos/room.jpg") %> alt="" width="352" height="190">
                            
                            <figcaption>
                                <div class="o-box__meta">
                                    <p>Lorem ipsum</p>
                                    
                                    <div class="o-tags">
                                        <a href="#" class="o-tags__item">LMNP - LMP</a>
                                        <a href="#" class="o-tags__item">Pinel</a>
                                        <a href="#" class="o-tags__item">Malraux</a>
                                        <a href="#" class="o-tags__item">Déficit Foncier</a>
                                    </div>
                                </div>
                                
                                <h6 class="o-lead o-lead--6">14 rue de Gournay Bâtiment B</h6>
                                
                                <h3 class="o-lead o-lead--2">Grenoble 3800</h3>
                                
                                <ul class="o-box__benefits">
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>A coté de toutes les commodités</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Parking sécurisé</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Stationnement facile</span>
                                    </li>
                                    
                                    <li>
                                        <i class="icon-garage"></i>
                                        <span>Quartier recherchés</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            
            <div class="o-more aligncenter">
                <a href="#" class="o-btn o-btn--major">Découvrir plus</a>
            </div>
        </div>
        
        
