
            <div class="o-section o-section--padding">
                <header class="o-header">
                    <h1 class="o-lead o-lead--2">Instagram</h1>
                    <h3 class="o-lead o-lead--5">Découvrez également nos actualités Instagram et Facebook </h3>
                </header>
                
                <div class="c-instaslider anim anim--up">
                    <div class="main-carousel" id="insta">                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-1.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-2.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-3.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-1.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-2.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-3.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-1.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-2.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                        
                        <div class="carousel-cell">
                            <div class="o-box">
                                <img src=<%= require("./img/photos/instagram/instagram-3.jpg") %> alt="" width="352" height="359">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
